@import "./base";
nav {
  display: flex;
  height: 40px;
  padding: 0.5em;
  border: 1px solid;
  background-color: $primaryWhite;
  align-items: center;
  border-radius: 1em;
  .header-navbar {
    margin-left: auto;
  }
  .searchbar-navbar {
    margin-left: auto;
    margin-right: 7%;
  }
  input {
    width: 25em;
    height: 3em;
    outline: none;
  }
  .right-div-navbar {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-left: auto;
    margin-right: 2em;
  }
}
input:focus {
  outline: none;
  border: 1px solid $primaryColor;
}
