@import "./base";

.leftnavbar-container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: 1px;
}
.leftbar-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-left: 2px solid;
  border-right: 2px solid;
}
.leftbar-component:hover {
  background-color: $optionHover;
}
