@import "./components/styles/base";

.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: $primaryColor;
  background-color: $primaryColor;

  .primary-section {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
}
